body{
    margin:0;
}

#root{
    width: 100%;
    max-width: 1350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

img{
    width: 250px;
    height: 200px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.App{
    width: 50%;
    height: 100vh;
    margin: auto;
    display: grid;
    place-content: center;
    justify-items: center;
    background-color: brown;
}

@media (max-width: 600px){
    .App{
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
}

.Apis{
    width: 50%;
    height: 100vh;
    margin: auto;
    display: grid;
    place-content: center; 
    justify-items: center;
    background-color: azure;
}

@media (max-width: 600px){
    .Apis{
        width: 100%;
        font-size: 13px;
    }

}

button{
    margin-top: 25px;
    width: fit-content;
    padding: 7px 25px;
    border-radius: 15px;
    color: wheat;
    background-color: black;
    border: none;
    outline: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
}

button:hover{
    background-color: bisque;
    box-shadow: 1px 1px 15px black;
    color: black;
}

.emojis{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
    text-align: center;
}